# Sistema operativo
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/
**/.vscode/

# Entornos virtuales
**/.venv/
**/venv/
**/env/
examen_primer_parcial/examen/

# Python
**/__pycache__/
**/*.py[cod]

# Jupyter
**/.ipynb_checkpoints/
